.descrição-produto{
   background-color: brown;
}

.produto{
   

}

.produto span{
    font-size: 40px;
    color: goldenrod;
}
/*
h2{
    background-color: brown;
}

p{
    background-color: aquamarine;
}*/