 /* .fa-square-instagram{
    color: orange;
    font-size: 50px;
}

.fa-square-instagram:hover{
    color: rgb(0, 255, 85);
} 

.fa-youtube{
    color: rgb(255, 0, 0);
    font-size: 100px;
}

.fa-youtube:hover{
    color: rgb(255, 0, 242);
    font-size: 50px;
}  */

